# Global Carbon Emissions & Temperatures Midterm Project ETL

In [1]:
import pandas as pd

In [2]:
OECD = pd.read_csv ('Resources/AIR_GHG_OECD.csv')

In [3]:
OECD.head()

,COU,Country,POL,Pollutant,VAR,Variable,YEA,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,GHG,Greenhouse gases,TOTAL,Total emissions excluding LULUCF,1990,1990,T_CO2_EQVT,Tonnes of CO2 equivalent,3,Thousands,NaN,NaN,425624.307,NaN,NaN
1,AUS,Australia,GHG,Greenhouse gases,TOTAL,Total emissions excluding LULUCF,1991,1991,T_CO2_EQVT,Tonnes of CO2 equivalent,3,Thousands,NaN,NaN,425686.445,NaN,NaN
2,AUS,Australia,GHG,Greenhouse gases,TOTAL,Total emissions excluding LULUCF,1992,1992,T_CO2_EQVT,Tonnes of CO2 equivalent,3,Thousands,NaN,NaN,429473.085,NaN,NaN
3,AUS,Australia,GHG,Greenhouse gases,TOTAL,Total emissions excluding LULUCF,1993,1993,T_CO2_EQVT,Tonnes of CO2 equivalent,3,Thousands,NaN,NaN,430381.731,NaN,NaN
4,AUS,Australia,GHG,Greenhouse gases,TOTAL,Total emissions excluding LULUCF,1994,1994,T_CO2_EQVT,Tonnes of CO2 equivalent,3,Thousands,NaN,NaN,430848.498,NaN,NaN

In [4]:
OECD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75691 entries, 0 to 75690
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   COU                    75691 non-null  object
 1   Country                75691 non-null  object
 2   POL                    75691 non-null  object
 3   Pollutant              75691 non-null  object
 4   VAR                    75691 non-null  object
 5   Variable               75691 non-null  object
 6   YEA                    75691 non-null  int64
 7   Year                   75691 non-null  int64
 8   Unit Code              72758 non-null  object
 9   Unit                   72758 non-null  object
 10  PowerCode Code         75691 non-null  int64
 11  PowerCode              75691 non-null  object
 12  Reference Period Code  0 non-null      float64
 13  Reference Period       0 non-null      float64
 14  Value                  75691 non-null  float64
 15  Flag Codes             4 non-null      object
 16  Flags                  4 non-null      object
dtypes: float64(3), int64(3), object(11)
memory usage: 9.8+ MB

In [5]:
emission_types = OECD['Pollutant'].unique()
for each_type in emission_types:
    print(each_type)

Greenhouse gases
Carbon dioxide
Methane
Nitrous oxide
Hydrofluorocarbons
Perfluorocarbons
Sulphur hexafluoride
Nitrogen trifluoride
Unspecified mix of HFCs and PFCs

In [6]:
#Drop the repetitive columns with exception of country code (rename as abbreviation)
OECD = OECD.drop(['COU','POL', 'VAR','YEA','Unit Code','PowerCode Code','Reference Period','Reference Period Code','Flag Codes','Flags'], axis=1)

In [7]:
OECD.head()

,Country,Pollutant,Variable,Year,Unit,PowerCode,Value
0,Australia,Greenhouse gases,Total emissions excluding LULUCF,1990,Tonnes of CO2 equivalent,Thousands,425624.307
1,Australia,Greenhouse gases,Total emissions excluding LULUCF,1991,Tonnes of CO2 equivalent,Thousands,425686.445
2,Australia,Greenhouse gases,Total emissions excluding LULUCF,1992,Tonnes of CO2 equivalent,Thousands,429473.085
3,Australia,Greenhouse gases,Total emissions excluding LULUCF,1993,Tonnes of CO2 equivalent,Thousands,430381.731
4,Australia,Greenhouse gases,Total emissions excluding LULUCF,1994,Tonnes of CO2 equivalent,Thousands,430848.498

In [8]:
OECD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75691 entries, 0 to 75690
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    75691 non-null  object
 1   Pollutant  75691 non-null  object
 2   Variable   75691 non-null  object
 3   Year       75691 non-null  int64
 4   Unit       72758 non-null  object
 5   PowerCode  75691 non-null  object
 6   Value      75691 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 4.0+ MB

In [10]:
#Note: We have 2,933 null values for the "Value" field in this table.

In [11]:
#This is only carbon dioxide pollutant. There are other greenhouse gasses in this dataset.
OECD_Carbon = OECD[OECD['Pollutant']=='Carbon dioxide']

In [12]:
OECD_Carbon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4791 entries, 93 to 74951
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    4791 non-null   object
 1   Pollutant  4791 non-null   object
 2   Variable   4791 non-null   object
 3   Year       4791 non-null   int64
 4   Unit       4791 non-null   object
 5   PowerCode  4791 non-null   object
 6   Value      4791 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 299.4+ KB

In [16]:
#Exporting to CSV File
OECD.to_csv('oecd_data_cleaned')

### Connecting the Postgres SQL Database

In [14]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/6d/cc/a7f2255524bf40936ea3ff81dabca321846f1a7d14166b8ddaae4514b6c5/psycopg2_binary-2.9.3-cp37-cp37m-macosx_10_14_x86_64.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (2.2MB)
     |████████████████████████████████| 2.2MB 1.5MB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.3
Note: you may need to restart the kernel to use updated packages.

In [17]:
import psycopg2

# conn = psycopg2.connect(database=OECD, user=jessicacamacho, password='password', host=host, port="5432")
# cursor = conn.cursor()

# cursor.execute('SELECT COUNT(MemberID) as count FROM Members WHERE id = 1')
# row = cursor.fetchone()

# conn.close()

# print(row)