# Global Carbon Emissions & Temperatures Midterm Project ETL

In [1]:
import pandas as pd
import numpy as np

### OECD Dataset #1

In [2]:
OECD = pd.read_csv ('Resources/AIR_GHG_OECD.csv')

In [3]:
OECD.head()

,COU,Country,POL,Pollutant,VAR,Variable,YEA,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,GHG,Greenhouse gases,TOTAL,Total emissions excluding LULUCF,1990,1990,T_CO2_EQVT,Tonnes of CO2 equivalent,3,Thousands,NaN,NaN,425624.307,NaN,NaN
1,AUS,Australia,GHG,Greenhouse gases,TOTAL,Total emissions excluding LULUCF,1991,1991,T_CO2_EQVT,Tonnes of CO2 equivalent,3,Thousands,NaN,NaN,425686.445,NaN,NaN
2,AUS,Australia,GHG,Greenhouse gases,TOTAL,Total emissions excluding LULUCF,1992,1992,T_CO2_EQVT,Tonnes of CO2 equivalent,3,Thousands,NaN,NaN,429473.085,NaN,NaN
3,AUS,Australia,GHG,Greenhouse gases,TOTAL,Total emissions excluding LULUCF,1993,1993,T_CO2_EQVT,Tonnes of CO2 equivalent,3,Thousands,NaN,NaN,430381.731,NaN,NaN
4,AUS,Australia,GHG,Greenhouse gases,TOTAL,Total emissions excluding LULUCF,1994,1994,T_CO2_EQVT,Tonnes of CO2 equivalent,3,Thousands,NaN,NaN,430848.498,NaN,NaN

In [4]:
OECD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75691 entries, 0 to 75690
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   COU                    75691 non-null  object
 1   Country                75691 non-null  object
 2   POL                    75691 non-null  object
 3   Pollutant              75691 non-null  object
 4   VAR                    75691 non-null  object
 5   Variable               75691 non-null  object
 6   YEA                    75691 non-null  int64
 7   Year                   75691 non-null  int64
 8   Unit Code              72758 non-null  object
 9   Unit                   72758 non-null  object
 10  PowerCode Code         75691 non-null  int64
 11  PowerCode              75691 non-null  object
 12  Reference Period Code  0 non-null      float64
 13  Reference Period       0 non-null      float64
 14  Value                  75691 non-null  float64
 15  Flag Codes             4 non-null      object
 16  Flags                  4 non-null      object
dtypes: float64(3), int64(3), object(11)
memory usage: 9.8+ MB

In [5]:
emission_types = OECD['Pollutant'].unique()
for each_type in emission_types:
    print(each_type)

Greenhouse gases
Carbon dioxide
Methane
Nitrous oxide
Hydrofluorocarbons
Perfluorocarbons
Sulphur hexafluoride
Nitrogen trifluoride
Unspecified mix of HFCs and PFCs

In [6]:
#Drop the repetitive columns with exception of country code (rename as abbreviation)
OECD = OECD.drop(['COU','POL', 'VAR','YEA','Unit Code','PowerCode Code','Reference Period','Reference Period Code','Flag Codes','Flags'], axis=1)

In [7]:
OECD.head()

,Country,Pollutant,Variable,Year,Unit,PowerCode,Value
0,Australia,Greenhouse gases,Total emissions excluding LULUCF,1990,Tonnes of CO2 equivalent,Thousands,425624.307
1,Australia,Greenhouse gases,Total emissions excluding LULUCF,1991,Tonnes of CO2 equivalent,Thousands,425686.445
2,Australia,Greenhouse gases,Total emissions excluding LULUCF,1992,Tonnes of CO2 equivalent,Thousands,429473.085
3,Australia,Greenhouse gases,Total emissions excluding LULUCF,1993,Tonnes of CO2 equivalent,Thousands,430381.731
4,Australia,Greenhouse gases,Total emissions excluding LULUCF,1994,Tonnes of CO2 equivalent,Thousands,430848.498

In [8]:
OECD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75691 entries, 0 to 75690
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    75691 non-null  object
 1   Pollutant  75691 non-null  object
 2   Variable   75691 non-null  object
 3   Year       75691 non-null  int64
 4   Unit       72758 non-null  object
 5   PowerCode  75691 non-null  object
 6   Value      75691 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 4.0+ MB

In [9]:
OECD[["Country","Pollutant","Variable","Unit","PowerCode"]] = OECD[["Country","Pollutant","Variable","Unit","PowerCode"]].astype('string')

In [10]:
#Note: Will need a list of Countries for filtering second dataset.
#To be done during cleaning or after.
OECD_countries = OECD['Country'].unique()
print(OECD_countries)

# EU_countries = ['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Republic of Cyprus', 'Czech Republic', 
#                 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 
#                 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 
#                 'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden']

<StringArray>
[                                      'Australia',
                                         'Austria',
                                         'Belgium',
                                          'Canada',
                                  'Czech Republic',
                                         'Denmark',
                                         'Finland',
                                          'France',
                                         'Germany',
                                          'Greece',
                                         'Hungary',
                                         'Iceland',
                                         'Ireland',
                                           'Italy',
                                           'Japan',
                                           'Korea',
                                      'Luxembourg',
                                          'Mexico',
                                     'Netherlands',
                                     'New Zealand',
                                          'Norway',
                                          'Poland',
                                        'Portugal',
                                 'Slovak Republic',
                                           'Spain',
                                          'Sweden',
                                     'Switzerland',
                                         'Türkiye',
                                  'United Kingdom',
                                   'United States',
                                           'Chile',
                                         'Estonia',
                                          'Israel',
                                          'Russia',
                                        'Slovenia',
                                          'Latvia',
                                       'Lithuania',
                                    'OECD - Total',
                                   'OECD - Europe',
                                          'Brazil',
                    "China (People's Republic of)",
                                        'Colombia',
                                      'Costa Rica',
                                           'India',
                                       'Indonesia',
                                    'South Africa',
                                       'Argentina',
                               'OECD Asia Oceania',
                                    'OECD America',
                                   'Liechtenstein',
                                        'Bulgaria',
                                         'Ukraine',
                                         'Romania',
                                    'Saudi Arabia',
                                           'Malta',
                                          'Cyprus',
                                      'Kazakhstan',
                                            'Peru',
                                          'Monaco',
                                         'Belarus',
                                         'Croatia',
                                            'Iran',
 'European Union – 27 countries (from 01/02/2020)']
Length: 63, dtype: string

In [11]:
#Count of potential expected countries
common_countries = len(OECD_countries)-4
common_countries

59

In [12]:
#This is only carbon dioxide pollutant. There are other greenhouse gasses in this dataset.
OECD_Carbon = OECD[OECD['Pollutant']=='Carbon dioxide']

In [13]:
OECD = OECD.rename(columns = {'Year':'EmissionYear','Value':'EmissionVal'})

In [14]:
OECD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75691 entries, 0 to 75690
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       75691 non-null  string
 1   Pollutant     75691 non-null  string
 2   Variable      75691 non-null  string
 3   EmissionYear  75691 non-null  int64
 4   Unit          72758 non-null  string
 5   PowerCode     75691 non-null  string
 6   EmissionVal   75691 non-null  float64
dtypes: float64(1), int64(1), string(5)
memory usage: 4.0 MB

In [15]:
#Note: We have 2,933 null values for the "Value" field in the overall table.
# We will mainly be exploring the carbon dioxide data set, which does not have null values.

In [16]:
#Exporting to CSV File
OECD.to_csv('oecd_data_cleaned.csv')

### Kaggle Data Set #2

In [17]:
file_name='/Users/jessicacamacho/OneDrive/Data/earth_surface_temp/GlobalLandTemperaturesByCountry.csv'
temp=pd.read_csv(file_name)
temp.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

In [18]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577462 entries, 0 to 577461
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             577462 non-null  object
 1   AverageTemperature             544811 non-null  float64
 2   AverageTemperatureUncertainty  545550 non-null  float64
 3   Country                        577462 non-null  object
dtypes: float64(2), object(2)
memory usage: 17.6+ MB

In [19]:
#Converting Country to string format
temp[['Country']]=temp[['Country']].astype('string')

In [20]:
#Converting 'DT' to Datefime
temp['dt']=pd.to_datetime(temp['dt'])

In [21]:
#Getting seperate parts of data for normalization
temp['TempYear'] = pd.DatetimeIndex(temp['dt']).year
temp['TempMonth'] = pd.DatetimeIndex(temp['dt']).month
temp['TempDay']= pd.DatetimeIndex(temp['dt']).day

#Dropping to normalize table
temp = temp.drop(['dt'],axis=1)

In [22]:
temp.head()

,AverageTemperature,AverageTemperatureUncertainty,Country,TempYear,TempMonth,TempDay
0,4.384,2.294,Åland,1743,11,1
1,NaN,NaN,Åland,1743,12,1
2,NaN,NaN,Åland,1744,1,1
3,NaN,NaN,Åland,1744,2,1
4,NaN,NaN,Åland,1744,3,1

In [26]:
temp = temp[temp['TempYear'] >= 1990]

In [27]:
temp['Country'].unique()

<StringArray>
[         'Åland',    'Afghanistan',         'Africa',        'Albania',
        'Algeria', 'American Samoa',        'Andorra',         'Angola',
       'Anguilla',     'Antarctica',
 ...
  'United States',        'Uruguay',     'Uzbekistan',      'Venezuela',
        'Vietnam', 'Virgin Islands', 'Western Sahara',          'Yemen',
         'Zambia',       'Zimbabwe']
Length: 243, dtype: string

In [28]:
#Changing to Match OECD Dataset including:
# **"China" to China (People's Republic of)"
# **Turkey to Türkiye
# *Europe to OECD - Europe

temp['Country'] = temp['Country'].str.replace("China", "China (People's Republic of)")
temp['Country'] = temp['Country'].str.replace("Turkey", "Türkiye")
temp['Country'] = temp['Country'].str.replace("Europe", "OECD - Europe")

print(temp['Country'].unique())

<StringArray>
[         'Åland',    'Afghanistan',         'Africa',        'Albania',
        'Algeria', 'American Samoa',        'Andorra',         'Angola',
       'Anguilla',     'Antarctica',
 ...
  'United States',        'Uruguay',     'Uzbekistan',      'Venezuela',
        'Vietnam', 'Virgin Islands', 'Western Sahara',          'Yemen',
         'Zambia',       'Zimbabwe']
Length: 243, dtype: string

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [29]:
#Filtering to only include countries in OECD dataset
temp_final = temp[temp['Country'].isin(OECD_countries)]

In [30]:
#Note: Korea and Slovak Republic are not in the second dataset, but exist in OECD.
len(temp_final['Country'].unique())

57

In [31]:
temp_final['Country'].unique()

<StringArray>
[                   'Argentina',                    'Australia',
                      'Austria',                      'Belarus',
                      'Belgium',                       'Brazil',
                     'Bulgaria',                       'Canada',
                        'Chile', "China (People's Republic of)",
                     'Colombia',                   'Costa Rica',
                      'Croatia',                       'Cyprus',
               'Czech Republic',                      'Denmark',
                      'Estonia',                'OECD - Europe',
                      'Finland',                       'France',
                      'Germany',                       'Greece',
                      'Hungary',                      'Iceland',
                        'India',                    'Indonesia',
                         'Iran',                      'Ireland',
                       'Israel',                        'Italy',
                        'Japan',                   'Kazakhstan',
                       'Latvia',                'Liechtenstein',
                    'Lithuania',                   'Luxembourg',
                        'Malta',                       'Mexico',
                       'Monaco',                  'Netherlands',
                  'New Zealand',                       'Norway',
                         'Peru',                       'Poland',
                     'Portugal',                      'Romania',
                       'Russia',                 'Saudi Arabia',
                     'Slovenia',                 'South Africa',
                        'Spain',                       'Sweden',
                  'Switzerland',                      'Türkiye',
                      'Ukraine',               'United Kingdom',
                'United States']
Length: 57, dtype: string

In [32]:
#Final validation
temp_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16245 entries, 27082 to 557820
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   AverageTemperature             16192 non-null  float64
 1   AverageTemperatureUncertainty  16192 non-null  float64
 2   Country                        16245 non-null  string
 3   TempYear                       16245 non-null  int64
 4   TempMonth                      16245 non-null  int64
 5   TempDay                        16245 non-null  int64
dtypes: float64(2), int64(3), string(1)
memory usage: 888.4 KB

In [33]:
#Final view
temp_final.head()

,AverageTemperature,AverageTemperatureUncertainty,Country,TempYear,TempMonth,TempDay
27082,22.032,0.189,Argentina,1990,1,1
27083,20.844,0.190,Argentina,1990,2,1
27084,18.194,0.240,Argentina,1990,3,1
27085,14.242,0.228,Argentina,1990,4,1
27086,10.831,0.226,Argentina,1990,5,1

In [34]:
temp_final.to_csv('temperatures_data_cleaned.csv')

### Connecting the Postgres SQL Database

In [ ]:
pip install psycopg2-binary

In [ ]:
import psycopg2

conn = psycopg2.connect(database='midterm_db', user='jessicacamacho', password='j3ssbeginner518', host='127.0.0.1/', port="49726")
cursor = conn.cursor()

cursor.execute('SELECT COUNT(Country) as count FROM Members WHERE id = 1')#edit to contain our queries
row = cursor.fetchone()

conn.close()

print(row)